<form action="/requestData" method="GET">
	<fieldset>
		<legend><h2>Search for a User</h2></legend>
		<label for="user">User</label>
		<input type="text" name="userid" id="userid">
		<input type="submit" name="submit">
	</fieldset>
</form>
