<style>
  * {margin:0; padding: 0;}
  .skyscrapper {display: block; width: 100%;}
  .skyscrapper img {width:100%}

  </style>

    
    <div class="container-fluid">
      
      <div class="skyscrapper">
       <img src="images/skyscrapper.jpg" class="img-responsive" alt="Chania">
      </div>

       <h1><%= title %></h1>
       
    </div>