<p><a href="/">Home</a></p>
<p><a href="/intro">Intro to API</a></p>
<p><a href="/getkey">Get API Key</a></p>
<p><a href="/setup">Setup Javascript</a></p>
<p><a href="/display">Display User Info</a></p>
